
.SignInPage {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name-app {

  font-size: 5rem;
  margin: 0px;
  /* margin-bottom: 20vh; */
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.02857em;
}

.welcome-title {
  
  font-size: 2.5rem;
  margin-top: 30vh;
  margin-bottom: 0px;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.02857em;
}
