.menuBar{
  display: -webkit-inline-flex;
  width: 50vh;
  border: 1px solid #b8bfc2;
  box-shadow: 1px 0px 6px #fefae0;
  padding: 0.5rem;
  align-items: center;
 
}
.menuBar li{
  margin-left: 1rem;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  color: #2a9d8f;
  display: flex; /* Display block instead of inline */
 
  
}

.menuBar a{
  text-decoration: none;
}

.menuBar li:hover{
  color: #e9c46a;
}