li {
  display: flex;
  margin-left: 1rem;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  color: black;
}
/* .fa-bars{
  position: fixed;
  top: 0;
  padding-top: 1rem;
  color: #121515;
 
} */

.fa-home{
  color: green;
  padding: 5px;
  border: 1px solid #b8bfc2;
  box-shadow: 1px 0px 6px white;
}
.recipeIcon{
  padding-left: 1rem;
}
.signoutIcon{
  padding-left:3rem;
  color: red;
 
}


.sidepanel {
  width: 0;
  position: fixed;
  z-index: 1;
  height: auto;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.7s;
  padding-top: 50px;
  background-color: #84c4d4;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  display: flex;
  transition: width 0.5s;
}

.sidepanel a:hover, .fa-sign-out:hover,.fa-cutlery:hover, .fa-tasks:hover, .fa-home:hover {
  color: gold;
  transition: 1s ease-out;
}

.sidepanel .closebtn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 16px;
  padding-bottom: 5px;
  color: #000;
}

.openbtn {
  display: flex;
  position: relative;
  font-size: 16px;
  cursor: pointer;
  background-color: #84c4d4;
  border: none;
  /* padding-top: 20px;
  padding-left: 10px; */
  color: #000;
}

.openbtn:hover {
  color: bisque;
  transition: 1s ease-out;
}
a{
  text-decoration: none;
  color: black;
}


@media screen and (max-width: 768px) {
  .openbtn{
    padding-right: 5px;
  }

 
}