
.List {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 95vh;
  width:95vw;
  border: 1px solid #b8bfc2;
  box-shadow: 1px 0px 6px white;
    padding: 10px;

  }
  .label-todo, .label-reminder{
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    color: black;
  }
  .label-todo:hover, .label-reminder:hover{
    color: #e9c46a;
  }
  .warning{
    font-family: "Delicious Handrawn";
    font-size: medium;
    font-weight: bold;
    font-style: oblique;
    text-align: center;
    color: #ebf0e3;
    padding-bottom: 10px;
    animation-name: textResult;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
 
  
  @keyframes textResult {
    from {color: #ebf0e3;;}
    to {color: rgb(255, 0, 0);}
  }
  .todoItems {
    display: "block";
    height: 85%;
    padding: 20px 0px;
  }
  .todoHide{
    display: none;
  }
  
  .todoItems ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
  align-items: flex-start;
  }
  
  .todoInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    border-top: 1px solid gold;
  }
  
  .todoInput input {
    text-align: center;
    height: 85%;
    width: 80%;
    border: 1px solid #b8bfc2;
  box-shadow: 1px 0px 6px #fefae0;
    border-radius: 5px;
    padding: 7px 0px;
    margin-top: 5px;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    color: black;
    
  }
.displayDiv{
  display: flex;
  flex-direction: column;
  width: 25vw;
  align-items: center;
  padding: 5px 0px;
}
  

  .btn1{
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    margin-top: 67px;
    width: 80%;
    height: 100%;
    border:none;
    cursor: pointer;
    background-color: #c3de9b;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    animation-name: inputBtn;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  
  }
  .btn2{
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    width: 80%;
    height: 100%;
    border:none;
    cursor: pointer;
    background-color: #c3de9b;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    animation-name: inputBtn;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  
  }

  .delBtn{
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    width: 80%;
    height: 100%;
    border:none;
    cursor: pointer;
    background-color: #c93a3a;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
  }

  .delBtn:hover{
    color: red;
    background-color: white;
  }

  @keyframes inputBtn {
    from {color: #ebf0e3;;}
    to {color: rgb(16, 15, 15);}
  }
  
  .todoInput button {
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    width: 80%;
    height: 100%;
    border: 1px solid #b8bfc2;
    box-shadow: 1px 0px 6px #fefae0;
    cursor: pointer;
    background-color: #8FC93A;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    margin: 10px 0px;
  }

  .todoInput input:hover{
    background-color: #8FC93A;
    color: white;
  }

  .todoInput button:hover{
    background-color:white;
    color:  green;
  }


 
@media screen and (max-width: 768px) {
  .List {
    width: 95vw;
  }
 
  .todoInput {
    width: 100vw;
    border-top: none;
  }
  .todoInput input {
    width: 90%;
  }
  .todoInput button {
    width: 90%;
  }
  .btn1, .btn2, .delBtn{
    width: 90%;
  }
  .displayDiv{
    width: 100vw;
  }
}
  
