.digiClock{
  font-family: "Play-fair Display";
  margin-top: 10px;
  text-align: center;
  color: gold;
}
.List {
  display: flex;
  flex-direction: column;
    height: 95vh;
    width: 50vh;
    box-shadow: 1px 0px 6px rgba(0,0,0,0.5);
    /* padding: 10px; */

  }

  
  .label-todo, .label-reminder{
    color: gold;
    text-align: center;
    font-family: "Delicious Handrawn";
  }
  .warning{
    font-family: "Delicious Handrawn";
    font-size: medium;
    font-weight: bold;
    font-style: oblique;
    text-align: center;
    color: #ebf0e3;
    padding-bottom: 10px;
    animation-name: textResult;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
 
  
  @keyframes textResult {
    from {color: #ebf0e3;;}
    to {color: rgb(255, 0, 0);}
  }
  .todoItems {
    display: "block";
    height: 85%;
    padding: 5px 0px;
  }
  .todoHide{
    display: none;
  }
  
  .todoItems ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
  align-items: flex-start;
  }
  
  .todoInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid gold;
  }

  
  .todoInput input {
    text-align: center;
    height: 85%;
    width: 80%;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 7px 0px;
    margin-top: 5px;
    font-family: "Delicious Handrawn";
    
  }
.displayDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 0px;
}
  

  .btn1{
    font-family: "Delicious Handrawn";
    margin-top: 67px;
    width: 80%;
    height: 100%;
    border:none;
    cursor: pointer;
    background-color: #8FC93A;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    animation-name: inputBtn;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  
  }
  .btn2{
    font-family: "Delicious Handrawn";
    width: 80%;
    height: 100%;
    border:none;
    cursor: pointer;
    background-color: #8FC93A;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    animation-name: inputBtn;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  
  }

  @keyframes inputBtn {
    from {color: #ebf0e3;;}
    to {color: rgb(255, 0, 0);}
  }

  .delBtn{
    font-family: "Delicious Handrawn";
    width: 80%;
    height: 100%;
    border:none;
    margin-top: 10px;
    cursor: pointer;
    background-color: #c93a3a;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
  }

  .delBtn:hover{
    color: red;
    background-color: white;
  }

  
  .todoInput button {
    font-family: "Delicious Handrawn";
    width: 80%;
    height: 100%;
    border:none;
    cursor: pointer;
    background-color: #8FC93A;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    margin: 10px 0px;
  }

  .todoInput input:hover{
    background-color: #8FC93A;
    color: white;
  }

  .todoInput button:hover{
    color:red;
  }


 
