:root{
  --para: none;
}

.recipe-app {
  text-align: center;
  background: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.8)), url('../../assets/Recipe-site.png');
    background-position-x: center;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
}
.displayParaFav{
  font-size: small;
  border: 2p solid red;
  background-color: inherit;
  text-align: justify;
  padding: 10px 5px 10px 5px;
  color: aliceblue;
}

.flex-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.flex-box{
  display: flex;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 400px;
  padding: 10px;
  padding-top: 10px;
  background-color: rgb(0 0 0 / 29%);
  border-radius: 20px;
  box-shadow: 10px 10px 5px 12px rgb(63 6 6 / 60%);
  align-items: center;
  margin: 25px;
}
.flex-boxFav{
  display: flex;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 450px;
  padding: 0px 10px;
  border-radius: 20px;
  margin-top: 50px;
  margin-left: 40px;
}

.form{
  display: flex;
  flex-direction: initial;
  flex-wrap: wrap;
  margin-top: 1%;

}

.textIn{
  width: 250px;
  box-shadow: 0px 0px 0px 2px white;
  padding: 10px 5px;
  margin: 10px 5px;
  border-radius: 5px;
  font-size: xx-small;
}



.cuisineInput{
  width: 100px;
  padding: 10px 5px;
  margin: 10px 5px;
  border: 2px solid gold;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 2px white;
  color: rgba(255, 217, 0, 0.562);

}
.ingredientHide{
  display: var(--para);
 text-align: justify;
  padding: 10px 5px 10px 5px;
}

.ingredientPara{
  display: flex;
 text-align: justify;
  padding: 10px 5px 10px 5px;
}

.label{
  color: gold;
  font-size: large;
  font-style: oblique;
  padding: 5px;
}
image{
  border-radius: 20px;
}
.cuisineInput:hover, .textIn:hover, .submit:hover{
  color: rgba(255, 255, 255, 0.807);
  cursor: pointer;
  font-style: oblique;
  text-transform: uppercase;
  background-color:rgb(63 6 6 / 60%);
  transition: 0.7s; 
}
.cuisineInput:active{
  background-color: white;
}

.ingredientPara{
  color: aliceblue;
}

.favTxt{
  color: gold;
padding-top: 50px ;
padding-left: 40px;

}
.reBtn{
  float: right;
  margin: 5px 5px;
  background-color: initial;
  border: 2px solid gold;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 2px white;
  color: red;
}

.iconNav{
  color: white;
}
.iconNav:hover{
  color: goldenrod;
  transition: 0.5s;
  cursor: pointer;
}
.reBtn:active{
background-color: brown;
}
@media screen and (max-width: 700px) {
  .form{
    justify-content: center;
  }

  .textIn{
    padding: 5px 2.5px;
    margin: 5px 2.5px;
  }
  .cuisineInput{
    font-size: x-small;
    width: 75px;
    padding: 5px 2.5px;
    margin: 5px 2.5px;
  }
  
}

@media screen and (max-width: 500px) {
  .recipe-app{
    background-image: url(../../assets/Recipe-asian-app.gif);
    max-height: 857px;
  }
  
}