
.sign-btn {
  width: 60%;
  height: 3rem;
  border-radius: 1.5rem;
  border: none;
  align-self: center;
  justify-self: center;
  background-color: var(--blue);
  font-size: 1.5em;
  color: var(--sky);
}
