.social-links {
display: flex;
justify-content: center;
font-size: 12px;
gap: 20px;
  }

  .fa {
    font-size: large;
    color: black;
  }
  
  .fa:hover {
    color: gold;
    transition: 1s ease-out;
  }

 